@model IEnumerable<DateTime>

<div class="container mt-5 ">
    <!-- Tarih Seçimi -->
    <h3 class="text-center mb-4" data-aos="fade-up">Tarih Seçimi</h3>
    <form asp-action="SelectTime" asp-controller="Appointment" method="get">
        <div class="d-flex justify-content-center flex-wrap mb-4">
            @for (int i = 0; i < 7; i++)
            {
                var date = DateTime.Today.AddDays(i);
                bool isSelected = ViewBag.SelectedDate == date.ToString("yyyy-MM-dd");
                bool isToday = date.Date == DateTime.Today.Date; // Bugünü kontrol et
                                                                 // Pazar günü kontrolü
                bool isSunday = date.DayOfWeek == DayOfWeek.Sunday;

                <button type="submit" name="selectedDate" value="@date.ToString("yyyy-MM-dd")"
                        class="btn mx-2 mb-2 @(isSelected ? "btn-primary" : (isToday ? "btn-primary" : "btn-outline-secondary")) rounded-pill shadow-sm"
                @(isSunday ? "disabled" : "")>
                    @date.ToString("dd MMM ddd")
                </button>
            }
        </div>
        <input type="hidden" value="@ViewBag.ShopId" name="shopId" />
        <input type="hidden" value="@ViewBag.OperationId" name="operationId" />
        <input type="hidden" value="@ViewBag.EmployeeId" name="employeeId" />
    </form>

    <!-- Saat Seçimi -->
    <h3 class="text-center mt-4 mb-3" data-aos="fade-up">Saat Seçimi</h3>
    @if (Model != null && Model.Any())
    {
        <form asp-action="Summary" asp-controller="Appointment" method="post">
            <div class="row g-3 justify-content-center">
                @foreach (var time in Model)
                {
                    bool isPastTime = time < DateTime.Now;

                    <div class="col-auto" data-aos="zoom-in">
                        <button type="submit" class="btn @(isPastTime ? "btn-secondary disabled" : "btn-success") w-100 rounded-pill shadow-sm"
                                name="StartTime" value="@time.ToString("yyyy-MM-ddTHH:mm")"
                        @(isPastTime ? "disabled" : "")>
                            @time.ToString("HH:mm")
                        </button>
                    </div>
                }
            </div>

            <input type="hidden" name="shopId" value="@ViewBag.ShopId" />
            <input type="hidden" name="operationId" value="@ViewBag.OperationId" />
            <input type="hidden" name="employeeId" value="@ViewBag.EmployeeId" />
        </form>
    }
    else
    {
        <div class="alert alert-warning text-center" data-aos="fade-up">
            Uygun saat bulunmamaktadır.
        </div>
    }

</div>