@model IEnumerable<WebBerber.Models.Shop>

@{
    ViewData["Title"] = "Salon Yönetimi";
    Layout = "_AdminLayout";
}

<div class="container mt-5">
    <h2 class="mb-4 text-center text-primary">Salon Yönetimi</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="d-flex justify-content-between mb-3">
        <a asp-action="AddShop" class="btn btn-success">
            <i class="fas fa-store"></i> Yeni Salon Ekle
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Ana Menü
        </a>
    </div>

    @if (!Model.Any())
    {
        <div class="alert alert-warning text-center">
            Henüz salon yok.
        </div>
    }
    else
    {
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Adres</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var shop in Model)
                {
                    <tr>
                        <td>@shop.ShopName</td>
                        <td>@shop.Address</td>
                        <td>
                            <a asp-action="EditShop" asp-route-shopId="@shop.Id" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i> Düzenle
                            </a>
                            <a asp-action="DeleteShop" asp-route-id="@shop.Id" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i> Sil
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
